<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body class="bg-slate-50">

    <div class="relative min-h-screen pb-20" id="wrapper">
        
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <main>
            <!-- <div class="ml-20 mt-20 pb-8 border-l-8 border-green-600">
                <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 text-5xl border-b-2 border-slate-200">Recent photos:</h1>
            </div> -->
            <div class="md:m-20 pb-8 border-l-8 border-green-600">
                <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 mb-10 text-5xl border-b-2 border-slate-200">Browse photos:</h1>
                <div class="relative bg-slate-100 p-5 rounded-tr-xl text-center border-r-4 border-slate-300">
                    <h1 class=" font-rubik font-light inline-block tracking-wider md:px-20 text-2xl border-b-2 border-slate-200"><% if(page == "recent") {%> Most Recent: <%} else if(page == "favourites") {%> Favourites: <% } %></h1>
                    <div class="text-sm block lg:absolute top-6 right-8">
                        <label for="displaySelect">Display mode:</label>
                        <select id="displaySelect">
                            <option <% if(page == "recent") {%> selected <% } %> value="recent">Most Recent</option>
                            <option <% if(page == "favourites") {%> selected <% } %> value="favourites">Favourites</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="bg-blue-50 pl-2 border-r-4 border-slate-300 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    
                    <% if(typeof photoList === 'undefined') { %>
                        <h1 class="m-20 text-3xl">Connection to the database could not be established</h1>
                    
                    <% } else if(photoList.length > 0) { %>
                        <% photoList.forEach(photo => { %>
                            
                            <a href="/photo/<%= photo.id %>" class="card">
                                <img class="rounded mx-auto object-cover object-center w-full max-h-[64%] mb-6" onerror="this.src='/img/not-found.jpg'; this.style.width='40%'" src="<%= photo.uri %>" alt="the photo">
                                <hr>
                                <h6 class="font-semibold my-5 text-lg overflow-ellipsis overflow-hidden"><%= photo.title %></h6>
                                <p class="overflow-hidden overflow-ellipsis text-justify"><%= photo.description %></p>
                            </a>

                        <% }); %>
                    <% } else { %>
                        <h1 class="m-20 text-3xl">There are no photos to display</h1>
                    <% } %>

                </div>
            </div>
            

        </main>

        <%- include('./partials/footer.ejs') %>

        <script>
            const displaySelect = document.querySelector('#displaySelect');

            displaySelect.addEventListener('change', (e) => {
                window.location.href = `/${e.currentTarget.value}`;
            })

        </script>
    </div>

</body>
</html>