<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body class="bg-slate-50">

    <div class="relative min-h-screen pb-20" id="wrapper">
        
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <div class="md:m-20 pb-8 border-l-8 border-green-600">
            <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 mb-10 text-5xl border-b-2 border-slate-200"><%= photo.title %></h1>
            

            <div class="flex flex-col-reverse lg:flex-row">
                <div class="flex-grow mx-10 p-10 bg-white rounded-xl max-w-4xl shadow-gray-600 shadow-lg">
                    <img class="rounded mb-10 mx-auto" onerror="this.src='/img/not-found.jpg';" src="<%= photo.uri %>" alt="the photo">
                    <hr>
                    <p class="mt-7 font-josefin border-l-8 border-orange-600 text-lg px-3 text-justify first-letter:text-3xl whitespace-pre"><%= photo.description %></p>
                    <div class="flex flex-wrap text-center justify-between gap-1/5">
                        <span class="font-rubik font-light inline-block mx-auto mt-10">Author: <% if(photo.author != "") { %> <%= photo.author %> <% } else { %> <i>unknown</i> <% } %> </span>
                        <span class="font-rubik font-light inline-block mx-auto mt-10">Date: <% if(photo.date != null) { %> <%= photo.date.toUTCString() %> <% } else { %> <i>unknown</i> <% } %> </span>
                    </div>
                </div>
    
                <div class="mx-10 mb-5 gap-5 flex justify-center lg:justify-start flex-row lg:flex-col">
                    <div id="trashcanButton" class="tool-button" >
                        <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    </div>
                    <div id="editButton" class="tool-button" >
                        <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                    </div>
                    <div class="tool-button <!--hover:stroke-red-900 fill-red-700-->">
                        <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                    </div>
                </div>


            </div>



            <p class="text-sm mt-8 ml-20 font-rubik italic">Created at: <span class="inline-block ml-10"><%= photo.createdAt.toUTCString() %></span></p>
            <p class="text-sm ml-20 font-rubik italic">Updated at: <span class="inline-block ml-10"><%= photo.updatedAt.toUTCString() %></span></p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

    <div id="deleteWindow" class="hidden transition duration-100">
        <div class="fixed top-0 left-0 w-full h-full bg-slate-600 opacity-50 z-10"> 
        </div>
        <div class="rounded-lg z-20 w-1/2 md:w-1/4 h-min text-center shadow-lg shadow-gray-600 fixed inset-y-1/2 inset-x-1/2 bottom-auto bg-slate-100 -translate-x-1/2 -translate-y-1/2 animate-slidein">
            <svg class="w-6 h-6 mx-auto mt-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
            <h5 class="inline-block text-black font-josefin text-lg mt-2 px-5">Are you sure you want to delete this photo?</h5>
            <div class="flex justify-around mb-5">
                <input id="deleteYes" data-photoid="<%= photo._id %>" class="font-semibold cursor-pointer px-3 py-1 border-b-2 border-slate-400 hover:border-red-600 hover:-translate-y-1 transition duration-100" type="button" value="YES">
                <input class="font-semibold cursor-pointer px-3 py-1 border-b-2 border-slate-400 hover:border-green-600 hover:-translate-y-1 transition duration-100" type="button" value="NO">
            </div>
        </div> 
    </div>

    <div id="editWindow" class="hidden transition duration-100">
        <div class="fixed top-0 left-0 w-full h-full bg-slate-600 opacity-50 z-10"> 
        </div>
        <form data-photoid="<%= photo._id %>" class="overflow-y-auto max-h-screen rounded-lg z-20 w-11/12 sm:w-5/6 md:w-3/4 xl:w-1/2 h-min text-center shadow-lg shadow-gray-600 fixed inset-y-1/2 inset-x-1/2 bottom-auto bg-slate-100 -translate-x-1/2 -translate-y-1/2 animate-slidein">
            <h3 class="inline-block px-10 text-2xl font-josefin m-4 border-b-2 border-slate-200">Edit the photo:</h3>
            <!-- <svg class="w-6 h-6 mx-auto mt-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg> -->
            <div class="px-5 grid md:grid-cols-2 gap-1 text-sm md:text-base">
                <div class="col-start-1 col-end-2 row-start-1 row-end-2">
                    <h5 class="block text-black font-josefin text-lg mt-2 py-2 px-5">Enter a new title:</h5>
                    <input class="p-3 text-center" placeholder="New title..." required type="text" name="title" value="<%= photo.title %>">
                </div>
                <div class="col-start-1 col-end-2 row-start-2 row-end-3">
                    <h5 class="block text-black font-josefin text-lg mt-2 py-2 px-5">Enter URI for a new photo:</h5>
                    <input class="p-3 text-center" placeholder="New photo URI..." required type="url" name="uri" value="<%= photo.uri %>">
                </div>
                <div class="col-start-1 col-end-2 row-start-3 row-end-4">
                    <h5 class="block text-black font-josefin text-lg mt-2 py-2 px-5">Specify another author:</h5>
                    <input class="p-3 text-center" placeholder="Author's name..." type="text" name="author" value="<%= photo.author %>">
                </div>
                <div class="col-start-1 col-end-2 row-start-4 row-end-5">
                    <h5 class="block text-black font-josefin text-lg mt-2 py-2 px-5">Specify another date:</h5>
                    <input id="test" class="p-3 text-center" type="date" name="date" value="<% if(photo.date) { %><%= photo.date.toISOString().split('T')[0] %><% } %>">
                </div>
                <div class="flex flex-col md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-5">
                    <h5 class="inline-block text-black font-josefin text-lg mt-2 py-2 px-5">Enter a new description:</h5>
                    <textarea cols="30" rows="10" class="inline-block flex-grow mx-5 p-3 resize-none" placeholder="New description..." required name="description"><%= photo.description %></textarea>
                </div>
            </div>
            

            <div class="mt-4 inline-flex md:px-32 justify-center gap-5 md:gap-10 border-t-2 border-slate-200 mb-5">
                <input class="mt-3 p-3 cursor-pointer rounded-lg hover:-translate-y-0.5 bg-slate-600 text-white hover:bg-green-700 transition duration-100 ease-out" type="submit" value="Okay">
                <input id="cancelEdit" class="mt-3 p-3 cursor-pointer rounded-lg hover:-translate-y-0.5 bg-slate-600 text-white hover:bg-red-700 transition duration-100 ease-out" type="button" value="Cancel">
            </div>

        </form> 
    </div>
    
    <script>
        const trashcanButton = document.querySelector("#trashcanButton");
        const deleteWindow = document.querySelector('#deleteWindow');

        const deleteButtons = document.querySelectorAll('#deleteWindow input');
        const deleteYes = document.querySelector('#deleteYes');

        trashcanButton.addEventListener('click', displayDeleteWindow);


        deleteButtons.forEach((button) => {
            button.addEventListener('click', (e) => {
                deleteWindow.classList.add('hidden');
            })
        });

        deleteYes.addEventListener('click', (e) => {
            trashcanButton.removeEventListener('click', displayDeleteWindow);
            editButton.removeEventListener('click', displayEditWindow);
            const endpoint = `/photo/${deleteYes.dataset.photoid}`;
            fetch(endpoint, {
                method:'DELETE'
            })
            .then((response) => {
                response.json()
                .then((data) => {
                    console.log(data);
                    window.location.href = data.redirect;
                })
            })
            .catch((err) => {
                console.log(err);
            });
        });

        function displayDeleteWindow(e) {
            deleteWindow.classList.remove('hidden');
        }

    </script>

    <script>
        const editButton = document.querySelector('#editButton');
        const editWindow = document.querySelector('#editWindow');
        const editForm = editWindow.querySelector('form');

        editButton.addEventListener('click', displayEditWindow);

        editForm.querySelector('#cancelEdit').addEventListener('click', (e) => {
            editWindow.classList.add('hidden');
            editForm.querySelector(`#${currentEdit}Form`).classList.add('hidden');
        });
        
        editForm.addEventListener('submit', (e) => {
            e.preventDefault();
            console.log(new FormData(editForm));
            trashcanButton.removeEventListener('click', displayDeleteWindow);
            editButton.removeEventListener('click', displayEditWindow);
            editWindow.classList.add('hidden');

            const formData = new FormData(editForm);

            const endpoint = `/photo/${editForm.dataset.photoid}`;
            fetch(endpoint, {
                method: 'PUT',
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
                body: new URLSearchParams(formData)
            })
            .then((response) => {
                response.json()
                .then((data) => {
                    console.log(data);
                    window.location.href = data.redirect;
                })
                .catch((err) => {
                    console.log(err);
                })
            })
        });

        function displayEditWindow(e) {
            editWindow.classList.remove('hidden');
        }
    </script>

</body>
</html>